* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-bg-color: gray;
    --link-color: white;
    --border-color: rgba(0, 0, 0, 0.2);
    --main-text-color: black;
    --footer-border-color: #000;
    --image-padding: 20px;
    --image-shadow: 0 0 30px gray;
    --max-width: 840px;
}


nav {
    background-color: var(--main-bg-color); 
    padding: 10px;
}

nav a {
    color: var(--link-color); 
    display: block;
    padding: 20px;
}


h1 {
    color: var(--main-bg-color); 
}


img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--image-padding); 
    box-shadow: var(--image-shadow); 
    float: right;
}


p {
    padding: 10px;
}


main {
    max-width: var(--max-width); 
}


aside {
    width: 15rem;
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: #eee;
    color: var(--main-text-color); 
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    
}

aside h2 {
    position: absolute;
    top: 24px;
    left: 70px;
}

main img {
    width: 150px;
    height: auto;
}


footer {
    margin-top: 15px;
    border-top: 1px solid var(--footer-border-color); 
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 10%);
    padding: rem;
    background-color: #ddd;
    color: #000
}