:root {
    --main-bg-color: darkblue;
    --link-color: white;
    --border-color: rgba(0, 0, 0, 0.2);
    --main-text-color: #333;
    --footer-border-color: #000;
    --image-padding: 20px;
    --image-shadow: 0 0 30px gray;
    --max-width: 840px;
}


nav {
    background-color: var(--main-bg-color); 
    padding: 10px;
}

nav a {
    color: var(--link-color); 
    display: block;
    padding: 20px;
}


h1 {
    color: var(--main-bg-color); 
}


img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--image-padding); 
    box-shadow: var(--image-shadow); 
}


p {
    padding: 10px;
}


main {
    max-width: var(--max-width); 
}


aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: #eee;
    color: var(--main-text-color); 
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}


main img {
    width: 150px;
    height: auto;
}


footer {
    margin-top: 15px;
    border-top: 1px solid var(--footer-border-color); 
    text-align: center;
}